@model IEnumerable<crud.Models.Article>

@{
    ViewBag.Title = "Lista de artículos";
}

<partial name="_AlertNotify" />

@section DatatablesButtons_Css {
    <link href="~/lib/datatables-buttons/css/buttons.dataTables.min.css" rel="stylesheet" />
}

<h3>@ViewBag.Title</h3>
<p>@ViewBag.Message</p>
<div>
    <form>
        <button type="submit" class="btn btn-success btn-sm px-3" asp-controller="Article" asp-action="Create">Agregar</button>
    </form>
</div>
<br />
<div class="table-responsive">
    <table id="table-articles" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Categoria</th>
                <th scope="col">Descripción</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Article article in Model)
            {
                <tr>
                    <th scope="row">@article.Id</th>
                    <td>@article.Name</td>
                    <td>@article.Category.Name</td>
                    <td>@article.Description</td>
                    <td>@article.Quantity</td>
                    <td class="py-1">
                        <partial name="_ActionButtons" model="@article" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>Total: @Model.Count()</p>
</div>

@section DatatablesButtons_Js_Articles {
    <script src="~/lib/datatables-buttons/js/datatables-config-articles.js"></script>
    <script src="~/js/datatables-custom.js"></script>
}

@section DatatablesButtons_Js {
    <script src="~/lib/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables-buttons/js/jszip.min.js"></script>
    <script src="~/lib/datatables-buttons/js/pdfmake.min.js"></script>
    <script src="~/lib/datatables-buttons/js/vfs_fonts.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.print.min.js"></script>
}