<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.AppTitle</title>
    <link rel="stylesheet" href="@ViewBag.ThemeOn" id="bootstrap-theme" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-default bg-default border-bottom mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@ViewBag.AppName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Artículos</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Article" asp-action="Create">Agregar</a>
                                <div role="separator" class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Article" asp-action="List">Ver lista</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Categorías</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Category" asp-action="Create">Agregar</a>
                                <div role="separator" class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Category" asp-action="List">Ver lista</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Report" asp-action="Reports">Reportes</a>
                        </li>
                        <partial name="_ButtonDarkMode" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderSection("ChartJSStyle", required: false)
            @RenderSection("DatatablesButtons_Css", required: false)
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - @ViewBag.AppName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- jquery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/button-dark-mode.js"></script>
    @RenderSection("Scripts", required: false)

    <!-- chartjs -->
    @RenderSection("ChartJS", required: false)

    <!-- jquery-datatables configuration -->
    <link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/lib/datatables-buttons/css/datatables-custom.css" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    @RenderSection("DatatablesButtons_Js_Articles", required: false)
    @RenderSection("DatatablesButtons_Js_Categories", required: false)
    @RenderSection("DatatablesButtons_Js", required: false)

    @RenderSection("BootstrapCustom", required: false)
</body>
</html>
