@model List<crud_mvc.Models.Article>

@{
    ViewBag.Title = "Lista de artículos";
}

<partial name="_AlertNotify" />

<h3>@ViewBag.Title</h3>
<p>@ViewBag.Message</p>
<div>
    <form>
        <button type="submit" class="btn btn-success btn-sm px-3" asp-controller="Article" asp-action="Create">Agregar</button>
    </form>
</div>
<br />
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Categoria</th>
                <th scope="col">Descripción</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Article article in Model)
            {
                <tr>
                    <th scope="row">@article.Id</th>
                    <td>@article.Name</td>
                    <td>@article.Category.Name</td>
                    <td>@article.Description</td>
                    <td>@article.Quantity</td>
                    <td class="py-1">
                        <partial name="_ActionButtons" model="@article"/>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>Total: @Model.Count</p>
</div>