@model List<crud_mvc.Models.Article>

@{
    ViewBag.Title = "Lista de artículos";
}

<partial name="_AlertNotify" />

<h3>@ViewBag.Title</h3>
<p>@ViewBag.Message</p>
<div>
    <form>
        <button type="submit" class="btn btn-success btn-sm px-3" asp-controller="Article" asp-action="Create">Agregar</button>
    </form>
</div>
<br />
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="row">#</th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Article article in Model)
            {
                <tr>
                    <th scope="row">@article.Id</th>
                    <td>@article.Name</td>
                    <td>@article.Category.Name</td>
                    <td>@article.Description</td>
                    <td>@article.Quantity</td>
                    <td class="py-1">
                        <form>
                            <button class="btn btn-primary btn-sm px-3" asp-controller="Article" asp-action="Edit" name="id" value="@article.Id">Editar</button>
                            <!-- Button triger modal 'Details' -->
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal_details_@{@article.Id}">Detalles</button>
                            <!-- Button trigger modal 'Delete' -->
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal_delete_@{@article.Id}">Eliminar</button>
                        </form>
                        <!-- Modal 'Delete' -->
                        <div class="modal fade" id="modal_delete_@{@article.Id}" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                            Borrar artículo
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Desea eliminar el artículo <strong>@article.Name</strong>?
                                    </div>
                                    <br />
                                    <form>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                                            <button class="btn btn-primary btn-sm" asp-controller="Article" asp-action="Delete" name="id" value="@article.Id">Aceptar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Modal 'Details' -->
                        <div class="modal fade" id="modal_details_@{@article.Id}" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Detalles de categoría</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input type="text" class="form-control form-control-sm" value="@article.Name" readonly />
                                            </div>
                                            <div class="form-group">
                                                <label>Categoría</label>
                                                <input type="text" class="form-control form-control-sm" value="@article.Category.Name" readonly />
                                            </div>
                                            <div class="form-group">
                                                <label>Descripción</label>
                                                <textarea typeof="text" class="form-control form-control-sm" readonly>@article.Description</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label>Cantidad</label>
                                                <input type="number" class="form-control form-control-sm" value="@article.Quantity" readonly />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>Total: @Model.Count</p>
</div>