@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Lista de articulos";
}

@if (ViewBag.MessageCreateSuccess != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>@ViewBag.MessageCreateSuccess</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (ViewBag.MessageEditSuccess != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>@ViewBag.MessageEditSuccess</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (ViewBag.MessageCreateError != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p>@ViewBag.MessageCreateError</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<h3>@ViewBag.Title</h3>
<p>@ViewBag.Message</p>
<div>
    <form>
        <button type="submit" class="btn btn-success px-3" asp-controller="Article" asp-action="Create">Agregar</button>
    </form>
</div>
<br />
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="row">#</th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Descripción</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ArticleModel article in ViewBag.Articles)
            {
                // TODO 2: Cargo la lista de articulos en la vista.
                <tr>
                    <th scope="row">@article.Id</th>
                    <td>@article.Name</td>
                    <td>@article.Category</td>
                    <td>@article.Description</td>
                    <td>
                        <form>
                            <button class="btn btn-primary px-3" asp-controller="Article" asp-action="Edit" name="id" value="@article.Id">Editar</button>
                            <button class="btn btn-success" asp-controller="Article" asp-action="Details" name="id" value="@article.Id">Detalles</button>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_delete_@{@article.Id}" id="inputTrigger">Eliminar</button>
                        </form>
                        <!-- Modal -->
                        <div class="modal fade" id="modal_delete_@{@article.Id}" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                            Borrar producto
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Desea eliminar el producto <strong>@article.Name</strong>?
                                    </div>
                                    <br />
                                    <form>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <button class="btn btn-primary" asp-controller="Article" asp-action="Delete" name="id" value="@article.Id">Aceptar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>Total: @ViewBag.Articles.Count</p>
</div>