@model IEnumerable<crud.Models.Category>

@{
    ViewData["Title"] = "Lista de categorías";
}

<partial name="_AlertNotify"/>

<h3>@ViewBag.Title</h3>
<p>@ViewBag.Message</p>
<div>
    <a class="btn btn-success btn-sm px-3" asp-controller="Category" asp-action="Create">Agregar</a>
</div>
<br />
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Artículos relacionados</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Category category in Model)
            {
                <tr>
                    <th scope="row">@category.Id</th>
                    <td>@category.Name</td>
                    <td>@category.Articles.Count</td>
                    <td class="py-1">
                        @if (category.Articles.Count == 0)
                        {
                            <partial name="_ActionButtons" model="@category"/>
                        }
                        else
                        {
                            <p class="m-0">No disponible</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>Total: @Model.Count()</p>
</div>
