@model IEnumerable<crud.Models.Category>

@{
    ViewData["Title"] = "Lista de categorías";
}

<partial name="_AlertNotify" />

@section DatatablesButtons_Css {
    <link href="~/lib/datatables-buttons/css/buttons.dataTables.min.css" rel="stylesheet" />
}

<h3>@ViewBag.Title</h3>
<p>@ViewBag.Message</p>
<div>
    <a class="btn btn-success btn-sm px-3" asp-controller="Category" asp-action="Create">Agregar</a>
</div>
<br />
<div class="table-responsive">
    <table id="table-categories" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Artículos relacionados</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Category category in Model)
            {
                <tr>
                    <th scope="row">@category.Id</th>
                    <td>@category.Name</td>
                    <td>@category.Articles.Count</td>
                    <td class="py-1">
                        @if (category.Articles.Count == 0)
                        {
                            <partial name="_ActionButtons" model="@category" />
                        }
                        else
                        {
                            @*<p class="m-0">No disponible</p>*@
                            <button class="btn btn-warning btn-sm text-white" title="No disponible" disabled><span class="fa fa-exclamation-circle"></span></button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>Total: @Model.Count()</p>
</div>


@section DatatablesButtons_Js_Categories {
    <script src="~/lib/datatables-buttons/js/datatables-config-categories.js"></script>
    <script src="~/js/datatables-custom.js"></script>
}

@section DatatablesButtons_Js {
    <script src="~/lib/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables-buttons/js/jszip.min.js"></script>
    <script src="~/lib/datatables-buttons/js/pdfmake.min.js"></script>
    <script src="~/lib/datatables-buttons/js/vfs_fonts.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.print.min.js"></script>
}